* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;

    /*da cancellare */
    /* height: 500px; */
}

/* inizio fixed bar */

.fixed-bar {
    height: 70px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #f4f9fd;
    position: fixed;
    z-index: 1;
    text-transform: capitalize;
    line-height: 70px;
}

.fixed-bar-left {
    float: left;
}

.lang-choose, .fa-chevron-down, .contact-sales {
    display: inline-block;
}

.lang-choose a, .contact-sales a {
    text-decoration: none;
}
.contact-sales {
    border-left: 1px solid gray;
}

.fixed-bar-right {
    float: right;
}

/* fine fixed bar */

/* inizio header */

.main-bar {
    height: 70px;
    margin-top: 70px;
    background-color: white;
}

#logo {
    float: left;
    padding: 20px 0;
}

nav ul {
    float: right;
    height: 100%;
    line-height: 70px;

}

nav li {
    float: left;
    list-style: none;
    text-transform: capitalize;
    padding: 0 10px;

}

nav a {
    text-decoration: none;
}

.banner {
    height: 695px;
    position: relative;
    background-color: #fff2ef;
    background-image: url('../img/bg-jumbotron.png');
    background-size: cover;

}


.jumbotron {
    width: 30%;
    margin-top: 30px;
    position: absolute;
}

.jumbotron p:first-child {
    font-size: 1px;
}


/* fine header */

/* inizio main */

main {
    background-color: #f4f9fd;
}

.box {
    height: 50%;

}

.top.box {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.top.box img {
    height: 150px;
}

.bottom.box {
    background-color: white;

}

.box-bottom-left {
    width: 25%;
    height: 100%;
    float: left;
    text-align: center;
}

.box-bottom-left img {
    height: 150px;
}

.box-bottom-right {
    width: 75%;
    height: 100%;
    float: right;
}

.box-bottom-right-text {
    width: 90%;

}

.box-bottom-right-text ul {
    list-style: none;

}

.box-bottom-right-text li {
    display: inline-block;
}

.card-container {
    height: 100%;
    padding: 30px;
}

.card {
    width: 33.3333%;
    float: left;
    text-align: center;
    height: 100%;
    border: 1px solid black;
}

.card img {
    height: 150px;
}

.card ul {
    list-style: none;
    text-align: left;
}

.azzurro {
    background-color: #00b1b1;
    text-align: center;
}

.azzurro-text {
    height: 150px;
    border: 1px solid black;
}

.icons-box {
    position: relative;
    height: 350px;
}

.first-row, .second-row {
    height: 50%;
}

.first-row {
    border-bottom: 1px solid white;
}

.icon-box:nth-child(2), .icon-box:nth-child(6) {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.icon-box:nth-child(4), .icon-box:nth-child(8) {
    border-left: 1px solid white;
}



.icon-box {
    width: 25%;
    height: 100%;
    float: left;
    position: relative;
}

.icon-box-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* fine main */

/* inizio section bianco */

.top-box-bianco {
    height: 35%;
    width: 90%;
    margin: 20px auto 30px;
}

.top-box-bianco-left {
    width: 15%;
    height: 100%;
    float: left;
    text-align: center;
}

.top-box-bianco-right {
    width: 50%;
    height: 100%;
    float: right;
}



.bottom-box-bianco {
    height: 65%;
}

.bottom-box-bianco-left {
    width: 45%;
    height: 100%;
    padding: 50px 0px;
    float:left;
}

.bottom-box-bianco-right {
    width: 30%;
    height: 100%;
    float:right;
}

.partner {
    float:left;
    height: 50px;
    line-height: 50px;

}

.partner img {
    width: 120px;
    padding: 0 10px;

}

.bottom-box-bianco-right img {
    width: 350px;
}
 /* inzio footer */

 footer {
     background-color: #32495b;
 }

.top-footer {
    height: 65%;
    border: 1px solid black;
}


.top-footer-box {
    width: 25%;
    height: 250px;
    float: left;

}

.top-footer-box ul {
    list-style: none;

}

.top-footer-box a {
        text-decoration: none;
        color: #cbd6da;
}

.footer-loghi a {
    padding-right: 25px;
}

footer .lingue {
    height: 70px;
    text-align: center;
    line-height: 70px;
    border-bottom: 1px solid #cbd6da;
}

.lingue ul {
    height: 100%;
}

.lingue li {
    display: inline-block;
    padding: 0 10px;
}

.lingue a {
    text-decoration: none;
    color: #cbd6da;
}


.footer-bottom-left {
    width: 20%;
    height: 100%;
    float: left;

}

.footer-bottom-right {
    width: 25%;
    float: right;
    text-align: right;

}
