* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;

    /*da cancellare */
    height: 500px;
}

/* inizio header */

.top-header {
    height: 70px;
    background-color: #f4f9fd;
}

.main-bar {
    height: 70px;
    background-color: white;
}

.banner {
    position: relative;
    background-color: #fff2ef;
}

.jumbotron {
    position: absolute;
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
}




/* fine header */

/* inizio main */

main {
    background-color: #f4f9fd;
}

.box {
    height: 50%;
    border: 1px solid black;
}

.card {
    width: 33.3333%;
    float: left;
    text-align: center;
    height: 100%;
    border: 1px solid black;
}

.azzurro {
    background-color: #00b1b1;
}

.azzurro-text {
    height: 150px;
    border: 1px solid black;
}

.icons-box {
    height: 350px;
    border: 1px solid black;
}

.first-row, .second-row {
    height: 50%;
    border: 1px solid black;
}

.icon-box {
    width: 25%;
    height: 100%;
    float: left;
    border: 1px solid black;
}

/* fine main */

/* inizio section bianco */

.top-box-bianco {
    height: 35%;
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
}

.top-box-bianco-left {
    width: 40%;
    height: 100%;
    float: left;
    background-color: yellow;
}

.top-box-bianco-right {
    width: 50%;
    height: 100%;
    float: right;
    background-color: red;
}

.bottom-box-bianco {
    height: 65%;
    border: 1px solid black;
}

.bottom-box-bianco-left {
    width: 45%;
    height: 100%;
    float:left;
    background-color: blue;
}

.bottom-box-bianco-right {
    width: 30%;
    height: 100%;
    float:right;
    background-color: green;
}
 /* inzio footer */

 footer {
     background-color: #32495b;
 }

.top-footer {
    height: 65%;
    border: 1px solid black;
}


.top-footer-box {
    width: 25%;
    height: 250px;
    float: left;
    border: 1px solid yellow;
}

.language {
    height: 100px;
}

.language hr {
    background-color: black;
}

.footer-bottom {
    height:150px;
}

.footer-bottom-left {
    width: 20%;
    height: 100%;
    float: left;
    background-color: purple;

}

.footer-bottom-right {
    width: 25%;
    height: 100%;
    float: right;
    background-color: pink;

}
