* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;

    /*da cancellare */
    height: 500px;
}

/* inizio fixed bar */

.fixed-bar {
    height: 70px;
    background-color: #f4f9fd;
    /* position: fixed; */
    z-index: 1;
    text-transform: capitalize;
    line-height: 70px;
}

.fixed-bar-left {
    float: left;
}

.lang-choose, .fa-chevron-down, .contact-sales {
    display: inline-block;
}

.lang-choose a, .contact-sales a {
    text-decoration: none;
}
.contact-sales {
    border-left: 1px solid gray;
}

.fixed-bar-right {
    float: right;
}

/* fine fixed bar */

/* inizio header */

.main-bar {
    height: 70px;
    background-color: white;
}

#logo {
    float: left;
    padding: 20px 0;
}

nav ul {
    float: right;
    height: 100%;
    line-height: 70px;

}

nav li {
    float: left;
    list-style: none;
    text-transform: capitalize;
    padding: 0 10px;

}

nav a {
    text-decoration: none;
}

.banner {
    position: relative;
    background-color: #fff2ef;
    background-image: url('../img/bg-jumbotron.png');
    background-size: cover;
    height: 695px;
}


.jumbotron {
    width: 30%;
    margin-top: 30px;
    position: absolute;


}




/* fine header */

/* inizio main */

main {
    background-color: #f4f9fd;
}

.box {
    height: 50%;
    border: 1px solid black;
}

.top.box {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.top.box img {
    height: 150px;
}

.bottom.box {
    background-color: white;

}

.box-bottom-left {
    width: 25%;
    height: 100%;
    float: left;
    text-align: center;
}

.box-bottom-left img {
    height: 150px;
}

.box-bottom-right {
    width: 75%;
    height: 100%;
    float: right;
}

.box-bottom-right-text {
    width: 90%;

}

.box-bottom-right-text ul {
    list-style: none;

}

.box-bottom-right-text li {
    display: inline-block;
}

.card-container {
    height: 100%;
    padding: 30px;
}

.card {
    width: 33.3333%;
    float: left;
    text-align: center;
    height: 100%;
    border: 1px solid black;
}

.card img {
    height: 150px;
}

.card ul {
    list-style: none;
    text-align: left;
}

.azzurro {
    background-color: #00b1b1;
}

.azzurro-text {
    height: 150px;
    border: 1px solid black;
}

.icons-box {
    height: 350px;
    border: 1px solid black;
}

.first-row, .second-row {
    height: 50%;
    border: 1px solid black;
}

.icon-box {
    width: 25%;
    height: 100%;
    float: left;
    border: 1px solid black;
}

/* fine main */

/* inizio section bianco */

.top-box-bianco {
    height: 35%;
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
}

.top-box-bianco-left {
    width: 40%;
    height: 100%;
    float: left;
    background-color: yellow;
}

.top-box-bianco-right {
    width: 50%;
    height: 100%;
    float: right;
    background-color: red;
}

.bottom-box-bianco {
    height: 65%;
    border: 1px solid black;
}

.bottom-box-bianco-left {
    width: 45%;
    height: 100%;
    float:left;
    background-color: blue;
}

.bottom-box-bianco-right {
    width: 30%;
    height: 100%;
    float:right;
    background-color: green;
}
 /* inzio footer */

 footer {
     background-color: #32495b;
 }

.top-footer {
    height: 65%;
    border: 1px solid black;
}


.top-footer-box {
    width: 25%;
    height: 250px;
    float: left;
    border: 1px solid yellow;
}

footer.languages {
    height: 100px;
}

.languages hr {
    background-color: black;
}

.footer-bottom {
    height:150px;
}

.footer-bottom-left {
    width: 20%;
    height: 100%;
    float: left;
    background-color: purple;

}

.footer-bottom-right {
    width: 25%;
    height: 100%;
    float: right;
    background-color: pink;

}
